@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./normalize.css');
@import url('./reset.css');

/* 기본 스타일
- 글꼴(웹폰트)
- 링크
- 색상(전경, 배경) */

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}

body{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  font-size: 1.4rem;
  color: #181818;
  background: #fff;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 공통 스타일 */
legend, .a11y-hidden{
  position: absolute;
  background: blue;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

/* Small 디바이스 스타일 */
@media screen and (max-width: 319px){
  .header{
    background:#38302E;
    color:#fff;
    padding: 1em 1em;
  }

  .member{
    margin: 1em 0;
  }

  input[type="search"]{
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 5px;
    width: calc(100% - 30px);
    font-size: 1.4rem;
  }

  .btn-search{
    position: relative;
    width: 30px;
    height: 30px;
    border: 0px solid #aaa;
    padding: 0;
    background: transparent;
    font-size: 1.4rem;
  }

  .btn-search::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url('./images/btn_search.png') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
  }
}

/* 모바일 스타일 */
@media screen and (min-width: 320px) and (max-width: 999px){
  /* 모바일 헤더 */
  .header{
    background:#38302E;
    color:#fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* 줄 바꿈 해주세요 */
  }

  /* 모바일 멤버링크 */
  .logo, .member, .search-form{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .member{
    background:#988574;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* 메인축 정렬 */
  }

  .member .bar{
    display: none;
  }

  .member a{
    display: inline-block;
    /*background: blue;*/
    /*width: 100px;*/
    padding: 0.5em 1em;
    margin-right: -1em;
  }

  .member a:hover, .member a:focus{
    color: yellow;
  }

  /* 모바일 로고 */
  .logo{
    /*background: orangered;*/
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .logo img{
    /*background: blue;*/ /* To check region */
    vertical-align: top; /* vertical-align을 사용하면 block 속성으로 렌더링 */
  }

  /* 모바일 검색폼 */
  .search-form{
    /* background: yellow; */
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0;
  }

  input[type="search"]{
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 10px;
    width: calc(100% - 1em - 30px);
    font-size: 1.4rem;
  }

  .btn-search{
    position: relative;
    width: 30px;
    height: 30px;
    border: 0px solid #aaa;
    padding: 0;
    background: transparent;
    font-size: 1.4rem;
  }

  .btn-search::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url('./images/btn_search.png') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
  }
}

/* 데스크탑 스타일 */
@media screen and (min-width: 1000px){
  /* 데스크탑 레이아웃 */
  .header, .menu{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  /* 데스크탑 헤더 */
  .header{
    /* background: yellow; */
    position: relative;
  }

  /* 데스크탑 로고 */
  .logo{
    /* background: blue; */
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 10px;
    /* display: none; */
    /* transform: translateY(-50%); */
  }
  /* 데스크탑 멤버링크 */
  .member{
    /* background: pink; */
    text-align: right;
    padding: 2px 0; /* 포커스 되었을 때, 아웃라인이 잘리지 않도록 해줌 */
    position: relative;
    /*right: -10px;*/ /* 밑에 있는 검색창과 align을 맞추기 위해 */
  }
  .member a{
    /* background: skyblue;   */
    padding: 0.5em 0;
    margin-left: 3px;
  }
  .member li, .member a{
    /* background: orange; */
    display: inline-block;
  }
  /* .member li:nth-child(n+2)::before{
    content: '|';
  } */
  /* 데스크탑 검색 폼 */
  .search-form{
    /* background: lime; */
    text-align: right;
    margin: 1em 0;
  }

  .search-form input[type="search"]{
    /* background: skyblue; */
    width: 400px;
    height: 35px;
    border: 1px solid #999;
    padding: 1px 1px 1px 5px;
    border-radius: 5px;
    margin-right: 2px;
  }

  .btn-search{
    height: 35px;
    border: 1px solid #999;
    padding: 1px 1em;
    background: #988574;
    color: #fff;
    border-radius: 15px 0 15px 0;
    transition: border-radius 0.4s
  }

  .btn-search:hover, .btn-search:focus{
    border-radius: 0 15px 0 15px;
  }

  /* 데스크탑 네비게이션 */
  .navigation{
    background: #988574;
    /* box-shadow: 0 0 -2px 5px #000, 0 0 2px 5px #000; */ /*x-offset y-offset blur spread color */
    /* box-shadow: 0 10px 0 0 #000; */
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818;
  }

  .menu{
    /* background: yellow; */
    margin-top: 20px;
    color: white;
    /* margin-bottom: 20px; */
    /* overflow: auto; */ /* 자식을 기준으로 높이를 다시 계산함 */
  }

  .clearfix::after{
    content: "";
    background: orange;
    display: block;
    clear: both;
  }

  /* .menu > li:nth-child(1){
    background: skyblue;
    float: left;
  }

  .menu > li:nth-child(2){
    background: pink;
  } */

  .menu-list{
    float: left;
  }

  .menu-item{
    font-size: 1.8em;
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
  }

  .menu-list:nth-child(n+2){
    margin-left: 83px;
  }

  .sub-menu{
    margin: 1em;
  }

  .sub-menu li{
    margin-bottom: 1em;
  }
}

/* a:link{
  color:green;
}

a:visited{
  color:grey;
}

a:hover, a:focus{
  color:red;
} */