@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./normalize.css');
/*@import url('./reset.css');*/

/* 기본 스타일
- 글꼴(웹폰트)
- 링크
- 색상(전경, 배경) */

/* 기본 스타일 */
html{
  font-size: 10px;
}

body{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  font-size: 1.4rem;
  color: #181818;
  background: #fff;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 공통 스타일 */


/* 모바일 스타일 */
@media screen and (min-width: 320px) and (max-width: 999px){
  /* 모바일 헤더 */
  .header{
    background:#38302E;
    color:#fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* 줄 바꿈 해주세요 */
  }

  /* 모바일 멤버링크 */
  .logo, .member, .search-form{
    width: 100%;
  }
  .member{
    color:#988574;
    /* order: -1; */
  }
}

/* 데스크탑 스타일 */
@media screen and (min-width: 1000px){

}

/* a:link{
  color:green;
}

a:visited{
  color:grey;
}

a:hover, a:focus{
  color:red;
} */